doctype html
html(lang="ru", ng-app="phonecatApp")
    head
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="bower_components/angular/angular.min.js")


    body
        .page_wrapper
            p Nothing here {{'yet' + '!'}}




